.task {
  display: flex;
  align-items: center;
}

.task:last-child {
  border: none;
}

.task label {
  cursor: pointer;
}

.task input[type="text"],
.task label {
  font-family: inherit;
  font-size: inherit;
  background-color: var(--gray-dark);
  width: 100%;
  border-radius: var(--radius-s) 0 0 var(--radius-s);
  padding: 0 0.8rem;
  font-size: 1.2rem;
  height: 2rem;
  display: flex;
  align-items: center;
}

.task input[type="text"]:focus {
  z-index: 999;
}

.task button {
  border-radius: 0;
  width: 3rem;
  height: 2rem;
  background-color: var(--gray-dark);
  display: flex;
  align-items: center;
}

.task .remove {
  border-radius: 0 var(--radius-s) var(--radius-s) 0;
}

.task .action {
  width: 3.4rem;
  border-left: 3px solid var(--background);
  border-right: 3px solid var(--background);
}

.action:hover,
.action:focus,
.remove:hover {
  z-index: 999;
}

.crossed {
  /* text-decoration: line-through 2px var(--accent); */
  color: var(--gray-md);
}
