*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* DIMENTIONS */
  --text-md: 1.6rem;
  /* COLORS */
  --primary: #2b6777;
  --accent: #52ab98;
  --background: #f2f2f2;
  --background-dark: #c8d8e4;
  --font-dark: #444444;
  --font-light: #555555;
  --danger: #eb4d4b;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--background);
}

#root {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}

ul {
  list-style: none;
}

input[type="checkbox"] {
  cursor: pointer;
}

input[type="text"] {
  background-color: inherit;
  border: none;
}

button {
  padding: 0.4rem 0.8rem;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

button:hover,
button:active {
  outline: 3px solid #313030;
}

.danger {
  background-color: var(--danger) !important;
}
