*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* DIMENTIONS */
  --text-md: 1.6rem;
  --radius-l: 10px;
  --radius-s: 6px;
  /* COLORS */
  --accent: #cc853d;
  --background: #1e1e1e;
  --font-color: #d4d3d4;
  --gray-dark: #2e2e2e;
  --gray-md: #434343;
  --gray-light: #515252;
}

html {
  color: var(--font-color);
  font-family: Calibri, sans-serif;
}

body {
  background-color: var(--background);
}

#root {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 0;
}

ul {
  list-style: none;
}

input {
  color: inherit;
}

/* custom style with the help of: https://moderncss.dev/pure-css-custom-checkbox-style/ */
input[type="checkbox"] {
  cursor: pointer;
  appearance: none;
  appearance: none;
  margin: 0;
  font: inherit;
  background-color: var(--accent);
  height: 1.8rem;
  width: 2.2rem;
  margin-right: 1.2rem;
  border-radius: var(--radius-s);
  display: grid;
  place-content: center;
}
input[type="checkbox"]:hover {
  outline: 3px solid var(--gray-light);
}
input[type="checkbox"]:checked::before {
  content: "";
  width: 1.2rem;
  height: 1.2rem;
  border-radius: var(--radius-s);
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  background-color: #fff;
}

input[type="text"] {
  background-color: inherit;
  border: none;
}

button {
  padding: 0.4rem 0.8rem;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  color: inherit;
}

button:hover,
button:active {
  outline: 3px solid var(--gray-light);
}
