.form {
  display: flex;
  gap: 1rem;
  height: 4rem;
}

.form input,
.form button {
  border-radius: var(--radius-l);
  border: none;
  outline: none;
}

.form input[type="text"] {
  flex-grow: 1;
  background-color: var(--gray-md);
  padding: 0 1rem;
  /* position: relative; */
}

.form button {
  width: 4rem;
  background-color: var(--gray-light);
}
